*{
    font-family: 'DejaVu Sans' !important;
}
body{
    color: black !important;
}

@media print {
    html, body{
        height: 297mm;
        width: 210mm;
    }
}

@page {
    margin: 15mm 10mm 10mm 15mm;
}

.my_hr-1 {
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}

.my_hr-2 {
    border: 0.1px solid black;
    width: 100%;
    margin-top: -7px;
    margin-bottom: 10px;
}

table.minimalistBlack {
    border: 2px solid #000000;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.minimalistBlack td, table.minimalistBlack th {
    border: 2px solid #000000;
    padding: 5px 4px;
}
table.minimalistBlack tbody td {
    font-size: 20px;
}
table.minimalistBlack thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
}
table.minimalistBlack thead th {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}
table.minimalistBlack tfoot td {
    font-size: 20px;
}
