
.local_card{
    margin-right: 7%;
    margin-top: 5%;
}

body{
    background: rgb(25, 38, 99);
    background: url('../images/background_login.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.backcard{
    background: rgba(0, 0, 0, 0.637);
    color: #ffffff;
    border: 2px solid #ffffff; /* #48f703 */
    border-radius: 1px 100px 15px 100px;
}
